body {
    background-color: bisque;
}

h1{
    color: brown;
}

h2 {
    color: rgb(230, 88, 88);
}

#p1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.odd {
    color: green;
}

.even {
    color: chocolate;
}