body {
    background-color: bisque;
}

h1{
    color: brown;
}

h2 {
    color: rgb(230, 88, 88);
}

#p1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.odd {
    color: green;
    /* combination of width, style, color.. can be set individually as well */
    border: 2px outset green;
    border-radius: 5px;
    padding: 10px;
}

.even {
    color: chocolate;
}

.spanblock {
    background: linear-gradient(to right, yellow, brown);
}

#spacing{
    margin-top: 5rem;
    padding-top: 5rem;
    text-align: right;
    border-top-style: dotted;
    border-top-color: hotpink;
}

#spacing span{
    display: block;
    font-style: italic;
}